project/Project/PresentationTier/Connected Services/YoutubeService/YoutubeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/YoutubeService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTier" />
  <xs:element name="AddSong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVideoTitleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoDuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoDurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVideoDurationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSongsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSongsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTier" minOccurs="0" name="FindSongsByNameResult" nillable="true" type="q1:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPlayListsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPlayListsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTier" minOccurs="0" name="FindPlayListsByNameResult" nillable="true" type="q2:ArrayOfPlayList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSongToPlayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="songId" type="xs:int" />
        <xs:element minOccurs="0" name="playListId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSongToPlayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSongToPlayListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongsFromPlayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playListId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongsFromPlayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTier" minOccurs="0" name="GetSongsFromPlayListResult" nillable="true" type="q3:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>