project/Project/PresentationTier/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataTier" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CreateChat_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateChat" />
  </wsdl:message>
  <wsdl:message name="IService_CreateChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetChat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChat" />
  </wsdl:message>
  <wsdl:message name="IService_GetChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetChatsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChatsByName" />
  </wsdl:message>
  <wsdl:message name="IService_GetChatsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateChat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChat" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteChat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChat" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPersonsInChat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsInChat" />
  </wsdl:message>
  <wsdl:message name="IService_GetPersonsInChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsInChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddPersonToChat_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonToChat" />
  </wsdl:message>
  <wsdl:message name="IService_AddPersonToChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonToChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemovePersonFromChat_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePersonFromChat" />
  </wsdl:message>
  <wsdl:message name="IService_RemovePersonFromChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePersonFromChatResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CreateChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateChat" message="tns:IService_CreateChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateChatResponse" message="tns:IService_CreateChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetChat" message="tns:IService_GetChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetChatResponse" message="tns:IService_GetChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChatsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetChatsByName" message="tns:IService_GetChatsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetChatsByNameResponse" message="tns:IService_GetChatsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateChat" message="tns:IService_UpdateChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateChatResponse" message="tns:IService_UpdateChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteChat" message="tns:IService_DeleteChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteChatResponse" message="tns:IService_DeleteChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonsInChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPersonsInChat" message="tns:IService_GetPersonsInChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPersonsInChatResponse" message="tns:IService_GetPersonsInChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPersonToChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddPersonToChat" message="tns:IService_AddPersonToChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddPersonToChatResponse" message="tns:IService_AddPersonToChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePersonFromChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemovePersonFromChat" message="tns:IService_RemovePersonFromChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemovePersonFromChatResponse" message="tns:IService_RemovePersonFromChat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateChat">
      <soap:operation soapAction="http://tempuri.org/IService/CreateChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChat">
      <soap:operation soapAction="http://tempuri.org/IService/GetChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatsByName">
      <soap:operation soapAction="http://tempuri.org/IService/GetChatsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateChat">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChat">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonsInChat">
      <soap:operation soapAction="http://tempuri.org/IService/GetPersonsInChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPersonToChat">
      <soap:operation soapAction="http://tempuri.org/IService/AddPersonToChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePersonFromChat">
      <soap:operation soapAction="http://tempuri.org/IService/RemovePersonFromChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>