project/Project/PresentationTier/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataTier" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CreateChat_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateChat" />
  </wsdl:message>
  <wsdl:message name="IService_CreateChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetChatsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChatsByName" />
  </wsdl:message>
  <wsdl:message name="IService_GetChatsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateChat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChat" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteChat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChat" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPersonsChats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsChats" />
  </wsdl:message>
  <wsdl:message name="IService_GetPersonsChats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsChatsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetPersonsInChat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsInChat" />
  </wsdl:message>
  <wsdl:message name="IService_GetPersonsInChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsInChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddPersonToChat_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonToChat" />
  </wsdl:message>
  <wsdl:message name="IService_AddPersonToChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonToChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemovePersonFromChat_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePersonFromChat" />
  </wsdl:message>
  <wsdl:message name="IService_RemovePersonFromChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePersonFromChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMessage" />
  </wsdl:message>
  <wsdl:message name="IService_CreateMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="IService_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="IService_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessage" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IService_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ForgotDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgotDetails" />
  </wsdl:message>
  <wsdl:message name="IService_ForgotDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgotDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FindAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAccount" />
  </wsdl:message>
  <wsdl:message name="IService_FindAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProfile" />
  </wsdl:message>
  <wsdl:message name="IService_CreateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadProfile" />
  </wsdl:message>
  <wsdl:message name="IService_ReadProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CreateChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateChat" message="tns:IService_CreateChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateChatResponse" message="tns:IService_CreateChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChatsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetChatsByName" message="tns:IService_GetChatsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetChatsByNameResponse" message="tns:IService_GetChatsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateChat" message="tns:IService_UpdateChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateChatResponse" message="tns:IService_UpdateChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteChat" message="tns:IService_DeleteChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteChatResponse" message="tns:IService_DeleteChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonsChats">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPersonsChats" message="tns:IService_GetPersonsChats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPersonsChatsResponse" message="tns:IService_GetPersonsChats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonsInChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPersonsInChat" message="tns:IService_GetPersonsInChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPersonsInChatResponse" message="tns:IService_GetPersonsInChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPersonToChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddPersonToChat" message="tns:IService_AddPersonToChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddPersonToChatResponse" message="tns:IService_AddPersonToChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePersonFromChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemovePersonFromChat" message="tns:IService_RemovePersonFromChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemovePersonFromChatResponse" message="tns:IService_RemovePersonFromChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateMessage" message="tns:IService_CreateMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateMessageResponse" message="tns:IService_CreateMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMessage" message="tns:IService_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMessageResponse" message="tns:IService_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMessages" message="tns:IService_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMessagesResponse" message="tns:IService_GetMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteMessage" message="tns:IService_DeleteMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteMessageResponse" message="tns:IService_DeleteMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateAccount" message="tns:IService_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateAccountResponse" message="tns:IService_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Authenticate" message="tns:IService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AuthenticateResponse" message="tns:IService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForgotDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ForgotDetails" message="tns:IService_ForgotDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ForgotDetailsResponse" message="tns:IService_ForgotDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FindAccount" message="tns:IService_FindAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FindAccountResponse" message="tns:IService_FindAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateAccount" message="tns:IService_UpdateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateAccountResponse" message="tns:IService_UpdateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteAccount" message="tns:IService_DeleteAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteAccountResponse" message="tns:IService_DeleteAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateProfile" message="tns:IService_CreateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateProfileResponse" message="tns:IService_CreateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadProfile" message="tns:IService_ReadProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadProfileResponse" message="tns:IService_ReadProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateProfile" message="tns:IService_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateProfileResponse" message="tns:IService_UpdateProfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateChat">
      <soap:operation soapAction="http://tempuri.org/IService/CreateChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatsByName">
      <soap:operation soapAction="http://tempuri.org/IService/GetChatsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateChat">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChat">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonsChats">
      <soap:operation soapAction="http://tempuri.org/IService/GetPersonsChats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonsInChat">
      <soap:operation soapAction="http://tempuri.org/IService/GetPersonsInChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPersonToChat">
      <soap:operation soapAction="http://tempuri.org/IService/AddPersonToChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePersonFromChat">
      <soap:operation soapAction="http://tempuri.org/IService/RemovePersonFromChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMessage">
      <soap:operation soapAction="http://tempuri.org/IService/CreateMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/IService/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://tempuri.org/IService/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/IService/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotDetails">
      <soap:operation soapAction="http://tempuri.org/IService/ForgotDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAccount">
      <soap:operation soapAction="http://tempuri.org/IService/FindAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProfile">
      <soap:operation soapAction="http://tempuri.org/IService/CreateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadProfile">
      <soap:operation soapAction="http://tempuri.org/IService/ReadProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>